@import '~styles/index';

.text-container {
  @include p(1, 0, 1, 0);
  text-align: left;
  font-size: #{$fontSize};;
  .text-bold {
    font-weight: bold;
  }
  p {
    @include m(0,0,0,0);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}