@import './constant';

@mixin p($top, $right, $bottom, $left) {
  padding: $top * $unit $right * $unit $bottom * $unit $left * $unit;
}

@mixin pt($value) {
  padding-top: $unit * $value;
}

@mixin pb($value) {
  padding-bottom: $unit * $value;
}

@mixin pl($value) {
  padding-left: $unit * $value;
}

@mixin pr($value) {
  padding-right: $unit * $value;
}

@mixin m($top, $right, $bottom, $left) {
  margin: $top * $unit $right * $unit $bottom * $unit $left * $unit;
}

@mixin mt($value) {
  margin-top: $unit * $value;
}

@mixin mb($value) {
  margin-bottom: $unit * $value;
}

@mixin ml($value) {
  margin-left: $unit * $value;
}

@mixin mr($value) {
  margin-right: $unit * $value;
}