@import '~styles/index';

.filter-container {
  display: flex !important;
  @include m(2,2,2,2);
  .filter-input {
    flex: 1;
    @include p(0,3,0,3);
  }
  .search-btn {
    @include p(2,2,2,2);
  }
  .divider {
    width: 1px;
    height: 28px;
    margin: auto;
  }
}