@import '~styles/index';

.avatar-container {
  display: flex;
  align-items: center;
  @include m(1,0,1,0);
  .name {
    @include ml(4);
    line-height: #{5 * $unit};
    text-align: left;
    font-size: #{$fontSize};
  }
  .avatar {
    width: #{15 * $unit} !important;
    height: #{15 * $unit} !important;
    border: solid 2px #d5d5d5;
  }
}